<form action="http://localhost:5000/question/add-question" method="POST">
    <input type="text" name="question" placeholder="Question">
    <br/>
    <input type="text" name="option_a" placeholder="Option A">
    <br>
    <input type="text" name="option_b" placeholder="Option B">
    <br>
    <input type="text" name="option_c" placeholder="Option C">
    <br>
    <input type="text" name="correct_answer" placeholder="Correct Answer">
    <br>
    <button type="submit">Add Question</button>

</form>