<link rel="stylesheet" type="text/css" href="app.css">
<form action="http://localhost:5000/registration" method="POST">
    <input name="fname" placeholder="Enter your First Name" />
    <br>
    <input name="lname" placeholder="Enter your Last Name" />
    <br>
    <button type="submit">Submit</button>
</form>